<section class="hero is-small has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-weight-bold title">ショップ情報登録</h1>
    </div>
  </div>
</section>

<%= render 'form', shop: @shop %>

<div class="has-text-centered container column is-8">
  <%= link_to '戻る', shops_path, class: "button is-link is-rounded is-fullwidth is-light" %>
</div>