<section class="hero is-small has-background-white">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="has-text-weight-bold title">ショップ情報登録</h1>
    </div>
  </div>
</section>

<%= render 'form', shop: @shop %>

<%= link_to 'Back', shops_path %>
